@media (max-width: 800px) {
  body, div {
    font-size: 24px;
  }
}

@media (min-width: 801px) {
  body, div {
    font-size: small;
  }
}

body, div {
  color: white;
  background-color: black;
}

input[type="checkbox"] {
  font-size: inherit;
  width: 0.75em;
  height: 0.75em;
}

div.status {
  display: flex;
  flex-wrap: wrap;
}

div.status>div {
  padding: 1em;
  min-width: 300px;
  max-width: calc(100vw - 2em);
}

div.header {
  font-size: larger;
  font-weight: bold;
  text-align: center;
}

div.asof {
  margin-top: 0.5em;
  font-size: smaller;
  font-style: italic;
  color: #ccc;
  text-align: center;
}

div.grid {
  display: grid;
  grid-template-columns: auto auto;
}

div.grid div.key {
  font-style: italic;
  text-align: right;
  padding-right: 0.5em;
  white-space: nowrap;
}

div.network div.grid div.key {
  font-family: monospace;
}

div.grid div.val {
  font-variant: tabluar-nums;
  text-align: left;
  white-space: nowrap;
}

div.grid div.nval {
  font-variant: tabluar-nums;
  text-align: right;
  white-space: nowrap;
}

.tree {
  font-family: monospace;
  overflow: auto;
}

.tree .toggleWrapper {
  display: inline-block;
  width: 12px;
  margin-left: -12px;
}

.tree .toggle {
  border: solid transparent 0.4em;
  width: 0px;
  position: relative;
}

.tree .toggle.open {
  top: 0.2em;
  left: -0.3em;
  border-top-color: #666;
}

.tree .toggle.closed {
  border-left-color: #666;
  top: 0;
  left: -0.1em;
}

.tree .pair {
  box-sizing: border-box;
  padding-left: 20px;
  white-space: nowrap;
}

.tree .child {
  margin-left: 24px;
  border-left: dotted gray 1px;
}

.tree .key {
  color: lime;
  display: inline;
}

.tree .string {
  color: fuchsia;
  display: inline;
}

.tree .number, .tree .boolean {
  color: dodgerblue;
  font-weight: bold;
  display: inline;
}

.tree .null {
  color: orange;
  font-weight: bold;
  display: inline;
}

.tree .comment {
  color: gray;
  font-style: italic;
  display: inline;
  margin-left: 10px;
}

.tree .closing {
  padding-left: 22px;
}
